section.msg {
    font-size: 120%;
    color: #0000cd;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
}

section.form-upload{
    margin: 5px 10px 10px 10px;
}

section.file-list{
    margin: 10px 10px 10px 10px;
}

p.message{
    margin: 10px 10px 5px 5px;
}

p.title{
    margin: 30px 5px 5px 5px;
    border-left: solid 5px #528CE0;
    padding-left: 5px;
}

table.file-list {
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 85%;
    background-color: #EEE;
    margin-bottom: 30px;
}
@include box-shadow(rgba(255,255,255,1) 0 1px 0);

table.file-list td {
    border: solid 1px #F8F8F8;
/*    background-color: #bdc7d8; */
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}

table.file-list td {
    padding-left: 10px;
    padding-right: 10px;
}

.memo {
    line-height: 30px; /* 文字の高さ */
    margin: 0px; /* 余白を消す */
    margin-top: 3px;
    margin-bottom: 3px;
    width: 300px; /* 幅 */
    padding-top: 0px; /* 余白 */
    padding-right: 5px; /* 余白 */
    padding-bottom: 0px; /* 余白 */
    padding-left: 5px; /* 余白 */
    height: 50px; /* 高さ */
}

.no-activate {
    background-color: #D4D0C8; /* 背景 */
    border: 1px solid #999999; /* 罫線 */
}

.activate {
    background-color: #FFFFFF;
    border: 1px solid;
}